server:
  port: 0
spring:
  application:
    name: "generator-supplier-source"
  cloud:
    function:
      definition: alertSupplier|activitySupplier
    stream:
      function:
        bindings:
          jsonGeneratorSupplier-out-0: output
      bindings:
        output:
          destination: generator
generator:
  alert:
    account: system
    levels:
      - "Critical"
      - "High"
      - "Medium"
      - "Low"
    events:
    - Break-in Detected (Alarm Triggered)
    - Garage Door Left Open for >10 min
    -  Smoke Detector Battery Low
    -  Front Door Tamper Detected
    -  System Offline for 5 minutes